* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family:  'Lucida Grande',  Verdana, Tahoma, sans-serif;
    margin: 0 auto;
}

.grid {
    max-width: 960px;
    width: 100%;

}

.row {
    width: 100%;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    align-items: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.button {
    font-size: 22px;
    max-width: 300px;
    background-color: #000035;
    color: white;
    text-align: center;
    border-radius: 0px;
    margin: 20px auto;
}

.counter {
    font-size: 38px;
    background-color: #000035;
    color: white;
    margin: 10px auto;
}

.date {
    font-weight: bold;
    font-size: 26px;
    color: #000035;
    letter-spacing: 1.2px;
    margin: 20px auto;
}

.header {
    background-color: #000035;
    margin: 0 auto 30px auto;
}

.items-list {
    font-size: 18px;
    margin: 0;
}

.lr-margins {
    margin-left: 10px;
    margin-right: 10px;
}

.normal-text {
    font-size: 26px;
    color: #000035;
    letter-spacing: 1.5px;
    margin: 10px auto;
    text-align: left;
}

.search-string {
    font-size: 22px;
    padding-left: 15px;

}

.small-button {
    background-color: #000035;
    color: white;
    font-size: 18px;
    margin: 20px auto;
}


h1 {
    font-size: 34px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin: 2px;
}






