<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="dst/css/style.min.css" rel="stylesheet">
<title>Health Tracker</title>
</head>

<body>
  <div class="grid">
    <div class="row">
      <div class="col-12 header">
        <h1>Health Tracker: count your calories</h1>
        <hr>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-5 fw-for-narrow">
        <div class="row center date-view">
          <div class="col-2 lr-margins">
            <p class="small-button week-back">◀◀◀</p>
          </div>
          <div class="col-1">
            <p class="small-button day-back">◀</p>
          </div>
          <div class="col-4 date">
            <p  class="date date-field"> </p>
          </div>
          <div class="col-1">
            <p class="small-button day-fw">▶</p>
          </div>
          <div class="col-2 lr-margins">
            <p class="small-button week-fw">▶▶▶</p>
          </div>
          <div class="row center">
            <div class="col-4"></div>
            <div class="col-4">
              <p class="counter"></p>
            </div>
            <div class="col-4">
              <p class="normal-text">kcal</p>
            </div>
          </div>
          <div class="row">
            <p class="normal-text">You've eaten:</p>
          </div>
                <div class="row">
                  <div class="col-7"><p class="small-text">Name</p></div>
                  <div class="col-2"><p class="small-text">kcal</p></div>
                  <div class="col-1"><p class="small-text">qnt</p></div>
                  <div class="col-2"><p class="small-text"></p></div>
                  <hr class="col-12">
                </div>
          <div class="eated-food-view"></div>
        </div>
        <div class="row margin-top">
          <p class="normal-text">Current statistics (last 30 days):</p>
          <div class="row">
            <div class="col-4"><p class="small-text">Feature</p></div>
            <div class="col-1"></div>
            <div class="col-3"><p class="small-text">kcal</p></div>
            <div class="col-1"></div>
            <div class="col-3"><p class="small-text">Date</p></div>
            <hr class="col-12">
          </div>
          <div class="statistics-view col-12"></div>
        </div>
      </div>
      <div class="col-1 fw-for-narrow"></div>
      <div class="col-5 fw-for-narrow">
        <div class="row center">
          <div class="col-8">
            <input type="text" class="search-string" placeholder="Search food name...">
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <div class='button search-button'>Search</div>
          </div>
        </div>
        <div class="row">
          <p class="normal-text">Search results:</p>
          <div class="row">
            <div class="col-7"><p class="small-text">Name</p></div>
            <div class="col-2"><p class="small-text">kcal</p></div>
            <div class="col-2"></div>
            <div class="col-1"><p class="small-text"></p></div>
            <hr class="col-12">
          </div>
          <div class="search-view"></div>
        </div>
        <div class="row margin-top">
          <p class="normal-text">Can't find via search? Add manually:</p>
          <div class="row center">
            <div class="col-4">
              <input type="text" class="food-name-input" placeholder="Food name">
            </div>
            <div class="col-1"></div>
            <div class="col-4">
              <input type="number" class="food-kcal-input" placeholder="Calories">
            </div>
            <div class="col-1"></div>
            <div class="col-2">
              <div class='button add-manually-button'>Add</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script id="foodItemTemplate" type="text/template">
    <div class="row">
      <div class="col-7"><p class="small-text"><%= name %></p></div>
      <div class="col-2"><p class="small-text"><%= calories %></p></div>
      <div class="col-1"><p class="small-text"><%= quantity %></p></div>
      <div class="col-2">
        <span class="small-text qnt-incr">▲</span>
        <span class="small-text qnt-decr">▼</span>
        <span class="small-text clear-button">X</span>
      </div>
      <hr class="col-12">
    </div>
  </script>

  <script id="searchItemTemplate" type="text/template">
    <div class="row">
      <div class="col-6"><p class="small-text"><%= name %></p></div>
      <div class="col-1"></div>
      <div class="col-3"><p class="small-text"><%= calories %></p></div>
      <div class="col-1"></div>
      <div class="col-1"><p class="small-button add-button">Add</p></div>
      <hr class="col-12">
    </div>
  </script>

  <script id="loadingFailedTemplate" type="text/template">
    <div class="row">
      <div class="col-12"><p class="small-text">Failed to get data from Nutritionix API. Please try again later.</p></div>
    </div>
  </script>

  <script id="loadingIndicator" type="text/template">
    <div class="row">
      <div class="col-12">
        <img class="udacity-logo" src="images/ajax-loader.gif" alt="Loading Indicator">
      </div>
    </div>
  </script>

  <script id="statisticsTemplate" type="text/template">
    <div class="row">
      <div class="col-4"><p class="small-text"><%= name %>:</p></div>
      <div class="col-1"></div>
      <div class="col-3"><p class="small-text"><%= calories %> kcal</p></div>
      <div class="col-1"></div>
      <div class="col-3"><p class="small-text"><%= date %></p></div>
      <hr class="col-12">
    </div>
  </script>

  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


  <script src="js/libs/jquery.min.js" type="text/javascript"></script>
  <script src="js/libs/underscore-min.js" type="text/javascript"></script>
  <script src="js/libs/backbone-min.js" type="text/javascript"></script>
  <script src="js/libs/backbone.localStorage-min.js" type="text/javascript"></script>

  <script src="dst/js/app.min.js" type="text/javascript"></script>
</body>

</html>